<!doctype html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Quantum reversible circuit validation">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/quantum.svg') }}">
    <title>Quantum reversible circuit</title>
</head>
<body>
<div class="container mt-3">
    <div class="row text-center">
        <div class="col-3">
            <div class="row text-center bg-light border rounded border-dark"><label for="circuit" class="form-label">Circuit</label>
            </div>
            <div class="row h-75">
                <textarea id="circuit" name="circuit" autofocus wrap="off" placeholder="Input your circuit"
                          style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,
                          Bitstream Vera Sans Mono,Courier New, monospace"></textarea>
            </div>
        </div>
        <div class="col mr-2">
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th scope="col">Input</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="col">0</th>
                    <th scope="col">Control bit (low level trigger)</th>
                </tr>
                <tr>
                    <th scope="col">1</th>
                    <th scope="col">Control bit (high level trigger)</th>
                </tr>
                <tr>
                    <th scope="col">2</th>
                    <th scope="col">NOT-gate<br>Note that each line must contain exactly one NOT-gate.</th>
                </tr>
                <tr>
                    <th scope="col">3</th>
                    <th scope="col">Wire gate</th>
                </tr>
                <tr>
                    <th scope="col">Empty line</th>
                    <th scope="col">Barrier</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary" onclick="run(true)">Decimal</button>
            <button class="btn btn-primary" onclick="run(false)">Binary</button>
            <button class="btn btn-danger" onclick="reset(true)">Clear</button>
            <button class="btn btn-primary" id="btn_save" disabled>Save</button>
        </div>
    </div>
    <div class="row text-center" style="color: red;"><p id="invalid_circuit"></p></div>
    <div class="row text-center"><p id="info">Gate count:</p></div>
    <div class="row">
        <div class="col-4 bg-light border rounded border-dark text-center">
            <div class="row"><label for="truth_table" class="form-label">Truth table</label></div>
            <div class="row">
                <textarea id="truth_table" name="truthTable" rows="17" cols="auto" readonly
                          style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,
                          Bitstream Vera Sans Mono,Courier New, monospace"></textarea>
            </div>
        </div>
        <div class="col-8 bg-light border rounded border-dark text-center" style="overflow: scroll;" id="canvasFrame">
            <div class="row text-center"><label for="myCanvas" class="form-label">Circuit diagram</label></div>
            <svg id="svg_diagram" width=0px height=0px style="background:#FFFFFF;"></svg>
        </div>
    </div>
    <div class="row"><p id="debug"></p></div>
</div>
<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- bootstrap -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- export svg as [svg, png] file-->
<script src="{{ url_for('static', filename='js/svg-export.min.js') }}"></script>
<script src="https://unpkg.com/canvg/lib/umd.js"></script>
</body>
</html>